{% extends 'base/base.html.twig' %}
{% use 'base/header.html.twig' %}

{% block title %}Louis - Certification{% endblock %}
{% block body %}

<div class="Badge">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5e2939ee-3a29-4d4c-a8c8-3d1b26262549" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b1572beb-54ec-4103-8c5f-327fe00e54ce" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
</div>
{% endblock %}
{% use 'base/footer.html.twig' %}
