<nav class="text-xl">
    <a class="p-1 text-xl hover:underline" href="{{ path('home') }}">Accueil</a>
    <a class="p-1 capitalize hover:underline" href="{{ path('about') }}">à propos</a>
    <a class="p-1 text-xl hover:underline" href="{{ path('project') }}">Projets</a>
    <a class="p-1 text-xl hover:underline" href="{{ path('certification') }}">Certifications</a>
</nav>
