<nav class="text-xl">
    <a href="{{ path('home') }}">Accueil</a>
    <a class="capitalize" href="{{ path('home') }}">à propos</a>
    <a href="{{ path('project') }}">Projets</a>
    <a href="{{ path('certification') }}">Certification</a>
</nav>
