body {
    background-color: #121212;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Sans-Serif, serif;
}
.text-gold
{
    color: goldenrod;
}
.bg-gris{
    background-color: #262626;
}
.bg-gris-foncer{
    background-color: #121212;
}
.button
{
    background-color: goldenrod;
    margin: 2em auto;
    padding: 10px 20px;
    color:#121212;
    border-radius: 5px;
}
.button:hover
{
    background-color: darkgoldenrod;
    margin: 2em auto;
    padding: 10px 20px;
    color:#121212;
    border-radius: 5px;
}
