{% extends 'base/base.html.twig' %}
{% use 'base/header.html.twig' %}

{% block title %}Louis - Projets{% endblock %}
{% block body %}
    <div class="bg-gris mt-10 mb-10 ml-50 mr-50 pt-10 rounded-xl">
        <div class="flex justify-center align-center">
            <h1 class="text-2xl">Voici mes projets</h1>
        </div>
        <div class="Badge flex justify-center align-center p-5 pl-10 pr-10">
            <div class="flex justify-between align-center flex-wrap">

            </div>
        </div>
    </div>

{% endblock %}
{% use 'base/footer.html.twig' %}
